{% extends 'layout.html' %}

{%block content%}
    {% for content in contents %}
    <div class="listBox">
        <h1>{{content.title}}--{{content.category.name}}</h1>
        <p class="colDefault">
            作者：<span class="colInfo">{{content.user.username}}</span> -
            时间：<span class="colInfo">{{content.addTime|date('Y-m-d H:i:s',-8*60)}}</span> -
            阅读：<span class="colInfo">{{content.views}}</span> -
            评论：<span class="colInfo">1000000</span>
        </p>
        <dfn><p style="word-break:break-all;">{{content.description}}</p></dfn>
        <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>
    </div>
    {% endfor %}

    {% if pages > 0 %}
    <div class="pager">
        <ul class="clear">
            <li class="previous">
                {% if page <= 1 %}
                <span>没有上一页了</span>
                {%else%}
                <a href="/?page={{page-1}}">上一页</a>
                {%endif%}
            </li>
            {% if pages > 0 %}
            <li>
                <strong>{{page}} / {{pages}}</strong>
            </li>
            {%endif%}
            <li class="next">
                {% if page >= pages %}
                <span>没有下一页了</span>
                {% else %}
                <a href="/?category={{category}}&page={{page+1}}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% else %}
    <div class="pager">
        <p>当前分类没有数据</p>
    </div>
    {% endif %}
{%endblock%}